/*      Fonts     */

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --white-color: #FFFFFF;
    --bg-black-color: #121212;
    --main-blue: #3BC7DA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--white-color);
} 
 
body {
    background-image: url("../assets/images/bg-main.svg"); 
    background-color: var(--bg-black-color);
    background-repeat: no-repeat;  
    background-size: 100%;
    overflow: hidden; 
}

main {
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto;
    backdrop-filter: brightness(50%);
    scroll-behavior: smooth;
}

.section { 
    display: flex; 
    flex-direction: column;
    padding: 0 3%;  
    margin-bottom: 30px;
    gap: 30px;
}

.section__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.section__logo {
    width: clamp(150px, 10vw, 300px);
}

.section__footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525; 
    border-radius: 50%;
    padding: 5px;
    align-self: center;
}

.section__button-pulse { 
    animation: pulseDown 1s infinite;
}

.section__footer img {
    width: 100%;
}

.section__footer__divider {
    flex: 1;
    border-top: 1px solid var(--main-blue);
}

.section__title { 
    font-weight: 800;
    font-size: clamp(70px, 7vw, 200px); 
    word-break: break-all;
} 

.section__paragraph {
    font-weight: 300;
    font-size: clamp(24px, 2vw, 64px);
}

.section__paragraph__blue {
    color: var(--main-blue);
}

.section__members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;  
    justify-content: space-evenly;
}

.section__members__item img { 
    width: 100%;
    border-radius: 10px;
}

.toggle__sound {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: var(--main-blue);
    padding: 14px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(218, 218, 218, 0.144);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-blue); 
  border-radius: 10px;
} 

::selection {
  color: var(--white-color);
  background: var(--main-blue);
}

@keyframes pulseDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
} 